a {
    color: #11999E;
    text-decoration: none;
}

a:hover {
    color: #064446;
}

body {
    color: #40514E;
    font-family: 'Merriweather', serif;
    margin: 0;
    text-align: center;
}

h1 {
    color: #53b6b6;
    font-family: 'Sacramento', sans-serif;
    font-size: 7rem;
    margin: 0;
    padding: 20vh 0 0 0;
}

h2 {
    color: #53b6b6;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

hr {
    border: dotted #b9f1f3 6px;
    border-bottom: none;
    margin: 3rem auto 1rem auto;
    width: 4%;
}

p {
    line-height: 2;
    margin: 0;
}

/* CSS Classes */
.bottom-cloud {
    position: absolute;
    left: 150px;
    top: 400px;
}

.bottom-section {
    background-color: #53b6b6;
    padding: 2.5rem 0 1rem 0;
}

.cloud {
    height: 5rem;
}

.container {
    padding: 1rem;
}

.copyright {
    color: white;
    margin: 1rem;
}

.form-bottom {
    padding-right: 3rem;
}

.form-button {
    width: 100%;
    background-color: transparent;
    color: #53b6b6;
    border: 1px solid #53b6b6;
    border-radius: 3px;
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.form-button:hover {
    cursor: pointer;
    background-color: #53b6b6;
    color: white;
}

.form-contact {
    background-color: #daf7f1;
    padding: 3rem;
    margin-top: 1rem;
}

.form-top {
    display: flex;
    justify-content: space-between;
}

.input {
    border: none;
    padding: 1rem 1.5rem;
    width: 40%;
    font-family: 'Montserrat', sans-serif;
}

.input-msg {
    border: none;
    padding: 1rem 1.5rem;
    width: 100%;
    margin: 1rem 0;
    font-family: 'Montserrat', sans-serif;
}

.middle-section {
    padding: 2.5rem 0;
    width: 70%;
    margin: auto;
}

.mountain {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 100vw;
}

.pro {
    text-decoration: underline;
}

.project-date {
    display: flex;
    align-items: center;
    color:#9dabac;
}

.project-img {
    width: 40%;
    float: left;
    margin: 0 25px 5px 0;
}

.project-link:hover {
    background-color: #11999E;
    color: white;
    padding: 0.5rem 0.7rem;
}

.project-row {
    margin: 3rem auto 0 auto;
    text-align: left;
}

.project-text {
    margin: auto;
}

.socmed-links {
    color: #056f72;
    margin: 0 1rem;
    font-family: 'Montserrat', sans-serif;
}

.socmed-links:hover {
    color: white;
}

.top-cloud {
    position: absolute;
    right: 200px;
    top: 100px;
}

.top-section {
    background-color: #daf7f1;
    height: 100vh;
    position: relative;
}